
moe/.ipynb_checkpoints/laba_1-checkpoint.ipynb
moe/.ipynb_checkpoints/laba_0-checkpoint.ipynb
moe/.ipynb_checkpoints/laba_1(v2)-checkpoint.ipynb
moe/.ipynb_checkpoints/laba_2(z2)-checkpoint.ipynb
moe/.ipynb_checkpoints/laba_2(z1)-checkpoint.ipynb
